* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

section {
    padding: 30px 90px 0;
}

h1, h2 {
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 20px; /* wartość do zmiany */
}

.header {
    width: 100%;
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center;
}

.header-inner {
    padding: 10vw;
    box-sizing: content-box;
    color: rgb(69, 69, 69);
}

.header-inner h1 {
    font-size: 6vw;
}

.header-inner p {
    text-align: center;
    font-size: 3vw;
    text-transform: uppercase;
}

